*{
    margin: 0px;
    padding: 0px;
}
.banner{
    width:80% ;
    height: 600px;
    margin: 40px 10%;
    border-radius: 16px;
    background-image:  linear-gradient(to  bottom, rgba(0, 0, 0, 0.7), rgba(0,0,0,0.2)),
    url('../resources/Banner\ Image.png');
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
} .banner-title,.banner-discription{
    color: #ffffff;
    text-align: center;
    font-family: Merriweather;
}.banner-title{
font-size: 32px;
font-style: normal;
font-weight: 400;
margin-bottom: 0px;
}.banner-discription{
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; 
width: 632px;
margin-top: 0px;
}

 /*discount part style */
.discount{
    /* background-color: aquamarine; */
    text-align: center;
    width: 80%;
    margin: 140px 10%;
    font-family: Inter;
}.discount-title{
    color: blue;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}.discount-discription{
    color:blue;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
}.cat{
    text-align: center;
    color: black;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}
/* midnight section style */


